@import url('custommaterialize.css');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.needMargin {
    margin-top: 2em;
}

.imgDiv {
    min-height: 500px;
}

.landing-container {
    border: 1px solid black;
    margin: 50px auto;
    padding: 20px;
    background-color: white;  
    max-width: 1000px;  
}

.profilePage {
    min-height: 800px;
}

.greeting-wave {
    margin: 0 auto;
}

.page-footer {
    padding-bottom: 20px;
}

.logo-prime-1 {
    color: #255957;
    text-transform: uppercase;
    font-weight: 700;
}

.logo-prime-2 {
    text-transform: uppercase;
    color: rgb(218, 226, 223);
    font-weight: 700;
    
}

.modal-format {
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif; 
    color: #2F394D;
    background-color: #DAE2DF;
}

main {
    flex: 1 0 auto;
}

.page-flexbox-wrapper {
    display: flex; 
    min-height: 100vh;
    flex-direction: column;
}

.form-welcome {
    height: 100%;
    padding-top: 15px;
}

.addBtn {
    background-color: #df3923;
}

.addBtn:hover {
    background-color: #420c75;
}

.news-feed {
    padding: 0;
}

.commentDiv {
    width: 100%;
    border-radius: 5%;
    border: 1px solid #437C90;    
    float: left;
}

.single-image {
    width: 100%;
}

.author-comment {
    padding-right: 20px;
}

.loader {
    margin: 200px 0 0 200px;
}

.error-box {
    border: 1px solid red;
    text-align: center;    
    margin: 20px 10px 10px 10px;
    padding: 10px;
}

.error-message {
    color: red;
    text-align: center;
}

.btn {
    color: white;
}

.edit-dialog {
    margin-bottom: 30px;
}

.search-display {
    padding-top: 20px;
}

.people-item {
    border: 2px solid #437C90;
}

.people-item-text {
    color: #2F394D;
}

.divider {
    background-color: #2F394D;
}

.nav-wrapper {
    padding: 0 0.75rem;
}

.profile-display {
    background-color: white;
    border: 1px solid #2F394D;
    padding: 5px;
    text-transform: uppercase;    
}